<footer>
  <p class="sr-only">Keyboard shortcuts are available. Press the question mark key for a list.</p>
  <nav aria-label="Secondary">
    <ul>
      {%- for item in navigation.secondary %}
      <li><a href="{{ item.url }}"{% if item.external %} rel="external" target="_blank"{% endif %}>{{ item.label }}</a></li>
      {%- endfor %}
    </ul>
  </nav>
  <p>&copy; {{ site.author }}</p>
  <p class="build-stamp"><time datetime="{{ build.timestamp }}">last built: {{ build.timestamp | readableDate }}</time></p>
</footer>
