<header class="site-header">
  <nav aria-label="Primary">
    <ul>
      {%- for item in navigation.primary %}
      <li><a href="{{ item.url }}"{% if page.url == item.url %} aria-current="page"{% endif %}>{{ item.label }}</a></li>
      {%- endfor %}
    </ul>
  </nav>
</header>
