<article class="post-card h-entry">
  <h3 class="p-name">
    {%- if post.data.syndicated and post.data.gardenUrl %}
    <a href="{{ post.data.gardenUrl }}" class="u-url">{{ post.data.title }}</a>
    {%- else %}
    <a href="{{ post.url }}" class="u-url">{{ post.data.title }}</a>
    {%- endif %}
  </h3>
  <p class="post-meta">
    <time class="dt-published" datetime="{{ post.date | isoDate }}">{{ post.date | readableDate }}</time>
  </p>
  <p class="post-excerpt p-summary">{{ post.data.excerpt }}</p>
  <div class="post-links">
    {%- if post.data.syndicated and post.data.gardenUrl %}
    <a href="{{ post.data.gardenUrl }}" class="u-syndication">Read in the garden &rarr;</a>
    {%- else %}
    <a href="{{ post.url }}">Read more &rarr;</a>
    {%- endif %}
    {%- if post.data.blueskyUrl %}
    <a href="{{ post.data.blueskyUrl }}" class="u-syndication" rel="external">Bluesky</a>
    {%- endif %}
  </div>
  <p class="sr-only">By <a rel="author" href="{{ site.url }}">{{ site.author }}</a></p>
</article>
