---
pagination:
  data: collections.tagList
  size: 1
  alias: tag
layout: base.njk
eleventyComputed:
  title: "Posts tagged #{{ tag }}"
  description: "Native posts on sebthecanadian.ca tagged #{{ tag }}."
permalink: /writing/tags/{{ tag | slug }}/
---
<p class="masthead__meta"><span class="masthead__stamp" aria-hidden="true">S&middot;L</span><span class="eyebrow">writing/tags/</span></p>
<h1>Posts tagged <code>#{{ tag }}</code></h1>

<p><a href="/writing/">&larr; All writing</a></p>

<section class="h-feed">
  <span class="p-name sr-only">Posts tagged #{{ tag }}</span>
  {%- set tagPosts = collections.writing %}
  {%- set anyMatch = false %}
  {%- for post in tagPosts %}
    {%- if tag in (post.data.tags or []) %}
      {%- set anyMatch = true %}
    {%- endif %}
  {%- endfor %}
  {%- if anyMatch %}
  <div class="index-table">
    {%- for post in tagPosts %}
      {%- if tag in (post.data.tags or []) %}
    <article class="index-row h-entry">
      <span class="index-row__label">writing/</span>
      <span class="index-row__desc">
        <a class="u-url p-name" href="{{ post.url }}">{{ post.data.title }}</a>
      </span>
      <time class="index-row__meta dt-published" datetime="{{ post.date | isoDate }}">{{ post.date | shortDate }}</time>
    </article>
      {%- endif %}
    {%- endfor %}
  </div>
  {%- else %}
  <p>No posts under this tag yet.</p>
  {%- endif %}
</section>
