---
permalink: /feed.xml
eleventyExcludeFromCollections: true
layout: null
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">
  <title>{{ site.title }}</title>
  <subtitle>Writing from sebthecanadian.ca and the garden at cognitivearchitecture.ca</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self" />
  <link href="{{ site.url }}/" />
  <updated>{{ (collections.feedEntries | first).rfc3339 if collections.feedEntries.length else build.timestamp }}</updated>
  <id>{{ site.url }}/</id>
  <author>
    <name>{{ site.author }}</name>
    <email>{{ site.email }}</email>
  </author>
  {%- for entry in collections.feedEntries %}
  <entry>
    <title>{{ entry.title }}</title>
    <link href="{{ entry.url }}" />
    <updated>{{ entry.rfc3339 }}</updated>
    <id>{{ entry.url }}</id>
    {%- if entry.page %}
    <content type="html">{{ entry.page.templateContent }}</content>
    {%- elif entry.summary %}
    <summary>{{ entry.summary }}</summary>
    {%- else %}
    <summary>{{ entry.title }}</summary>
    {%- endif %}
  </entry>
  {%- endfor %}
</feed>
